.page__start {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.language-sections {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__item {
        flex-basis: 200px;
        flex-grow: 1;

        &--html {
            background-color: red;
        }

        &--css {
            background-color: blue;
        }

        &--javascript {
            background-color: yellow;
        }
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
    }
}