.page__start {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &--inner {
        padding: 0 12px;
        @media (min-width: 768px) {
            padding: 0 20px;
        }
        @media (min-width: 768px) {
            padding: 0 30px;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.language-sections {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 200px;
        flex-grow: 1;

        &:hover {
            .language-sections__link {
                @media (min-width: 1280px) {
                    transform: rotate(360deg) scale(1.5);
                }
            }

            .language-sections__about {
                @media (min-width: 1280px) {
                    transform: translate(0);
                    opacity: 1;
                }
            }
        }

        &--html {
            background-color: #E44D26;
        }

        &--css {
            background-color: #2062AF;
        }

        &--javascript {
            background-color: #EEAB00;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        transition: 0.3s ease-in-out;
        transform: rotate(0) scale(1);

        svg {
            flex-grow: 0;
            flex-shrink: 0;
            width: 100px;
            height: 100px;
        }
    }

    &__about {
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 50%;
        max-width: 80%;
        margin-left: 12px;
        color: #ffffff;
        transition: 0.3s ease-in-out;
        @media (min-width: 768px) {
            margin-left: 20px;
        }
        @media (min-width: 1280px) {
            margin-left: 60px;
            transform: translate(100%);
            opacity: 0;
        }
    }

    &__title {
        margin-bottom: 16px;
    }

    &__description {

    }
}